body,
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 0;
}
* {
    box-sizing: border-box
}
a,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
ul {
    padding: 0;
    margin: 0
}
a,
li,
ol,
ul {
    text-decoration: none;
    list-style: none;
}
button,
input {
    border: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p,
span {
    user-select: text;
    cursor: auto;
}
img {
    user-select: none;
}
article,
button,
div,
form,
input,
section {
    outline: none;
}
a {
    display: block;
    width: fit-content;
}
button,
fieldset,
form,
input {
    background: none;
}
button:hover {
    cursor: pointer;
}
.r-m {
    margin: 0;
}
.r-m-t {
    margin-top: 0;
}
.r-p-t {
    padding-top: 0;
}
.r-m-l {
    margin-left: 0;
}
.r-p-l {
    padding-left: 0;
}
.r-m-r {
    margin-right: 0;
}
.r-p-r {
    padding-right: 0;
}
.r-m-b {
    margin-bottom: 0;
}
.r-p-b {
    padding-bottom: 0;
}
.r-b-r {
    border-radius: 0;
}
.r-boxshadow {
    box-shadow: none;
}
:root {
    --patreon: #f96854;
    --base-red: #ef3e3a;
    --active-red: #ea0f0a;
    --base-blue: #4da9ff;
    --base-orange: #ff8d4c;
    --base-green: #24d154;
    --base-white: #fafafa;
    --white-5: #f0f0f0;
    --white-10: #dcdcdc;
    --white-15: #c8c8c8;
    --white-20: #b4b4b4;
    --white-25: #a0a0a0;
    --white-30: #8c8c8c;
    --white-35: #787878;
    --base-black: #191919;
    --black-5: #5a5a5a;
    --black-10: #464646;
    --black-15: #323232;
    --black-20: #282828;
    --black-25: #1e1e1e;
    --black-30: #0a0a0a;
}
.base-white-bg {
    background-color: var(--base-white);
}
.white-5-bg {
    background-color: var(--white-5);
}
.white-10-bg {
    background-color: var(--white-10);
}
.white-15-bg {
    background-color: var(--white-15);
}
.white-20-bg {
    background-color: var(--white-20);
}
.white-25-bg {
    background-color: var(--white-25);
}
.white-30-bg {
    background-color: var(--white-30);
}
.white-35-bg {
    background-color: var(--white-35);
}
.base-black-bg {
    background-color: var(--base-black);
}
.black-5-bg {
    background-color: var(--black-5);
}
.black-10-bg {
    background-color: var(--black-10);
}
.black-15-bg {
    background-color: var(--black-15);
}
.black-20-bg {
    background-color: var(--black-20);
}
.black-25-bg {
    background-color: var(--black-25);
}
.black-30-bg {
    background-color: var(--black-30);
}
.black-35-bg {
    background-color: var(--black-35);
}
.base-red-bg {
    background-color: var(--base-red);
}
.active-red-bg {
    background-color: var(--active-red);
}
.base-orange-bg {
    background-color: var(--base-orange);
}
.base-blue-bg {
    background-color: var(--base-blue);
}
.base-green-bg {
    background-color: var(--base-green);
}
.patreon-bg {
    background-color: var(--patreon);
}
.txt-blue {
    color: var(--base-blue);
}
.txt-red {
    color: var(--base-red);
}
.txt-white {
    color: var(--base-white);
}
a,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
ul {
    word-wrap: break-word;
}
.extension-txt {
    color: var(--white-15);
    font-size: 14px;
}
.extension-txt{
    font-family: Poppins, sans-serif;
    font-weight: var(--regular);
}
.extension-btn {
    width: 100%;
    margin-top: 10px;
    background: var(--base-red);
    color: var(--base-white);
    padding: 10px 0;
    border-radius: 2px;
    font-family: Poppins, sans-serif;
    font-weight: var(--medium);
    transition: background 0.3s ease;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 14px;
}
.extension-btn:hover {
    background: var(--active-red);
}
.extension-btn a {
    font-family: Poppins, sans-serif;
    font-weight: var(--medium);
    color: var(--base-white);
}
.extension-btn {
    margin-bottom: 10px
}
:root {
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}
html {
    margin: 0;
    padding: 0;
}
html,
.wrongSite{
    background: var(--base-black);
    border-radius: 4px;
}
.wrongSite{
    display: block;
    width: 332px;
    padding: 20px;
    overflow: auto;
}
.title-container,
.check-container,
.check-btn-container,
.refresh-div,
.closeAtd-btn{
    display: block;
    width: 332px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}
.title-container{
    padding-top: 20px;
    overflow: auto;
}
.check-btn-container,
.closeAtd-btn{
    padding-bottom: 20px;
}
.check-container input[type=text] {
    display: block;
    outline-style: none;
    color: var(--base-white);
    border: 1px solid var(--base-white);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    margin-top: 10px;
}
.check-container input[type=text]:focus {
    border: 1px solid var(--white-35);
}
.check-container label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: var(--regular);
    color: var(--base-white);
    font-size: 12px;
    margin-top: 12px;
}
.check-container label input {
    margin-right: 10px;
}
.title-container h2 {
    height: 21px;
    font-weight: var(--semi-bold);
    font-size: 18px;
}
.title-container h2 {
    font-family: Poppins, sans-serif;
    color: var(--base-white);
    letter-spacing: 0.2px;
}
/* The switch - the box around the slider */
.popup-controlattend-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.switch{
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  vertical-align:middle;
}

.refresh{
    width: 52px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--base-green);
}

input:focus + .slider {
  box-shadow: var(--black-5);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
    overflow: hidden;
}

/* Refresh-btn-logo size */

.Refresh-btn-logo {
    width: 50px;
    height: 50px;
}
#Refresh-btn{
    overflow: hidden;
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

.logo-rotate {
    animation: rotate_image 1.5s linear infinite;
    transform-origin: 50% 50%;
}
